p,h1{
    margin: 0%;
    padding: 0%;
  
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url('https://wallpaperaccess.com/full/1092594.jpg');
    margin: 0%;
    padding: 0%;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    height: 100vh;
    justify-content: space-evenly;
}
.main{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 100%;
}
.head{
    display: flex;
    flex-direction: row;
    background-image: radial-gradient( circle 1192px at 21.5% 49.5%,  rgba(91,21,55,1) 0.1%, rgba(0,0,0,1) 100.2% );
    color: #c3c3c3;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.side{
    border: 2px solid red;
    width: 17%;
}


.project-list{
    width: 100%;
    /* border: 2px solid rgb(146, 17, 17); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.project-div{
    border: 2px solid black;
    width: 40%;
    background-color: darkgray;
    margin: 1%;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.project-name{
  border-bottom: 2px solid rgb(252, 251, 251);
  color: #c3c3c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
    /* background-color: aqua; */
    padding: 1%;
}
.del{
    margin-right: 2vh;
}
.del a{
    text-decoration: none;
    color: wheat;
}
.project-name h1{
    margin-left: 10%;  
  
  
}
.project-details{
   
    border-radius: 3vh;
}
.project-details p,h1 small{
    font-weight: 500;
    color: #0d0e0c;
    
}
.project-details h1{
    margin-left: 2%;  
    
}
.data{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 1.3rem;
}
.data p a{
    /* margin-left: 40%; */
    text-decoration: none;
    color: red;
    font-size: 1.3rem;
}
.data p{
    font-size: 1rem;
    margin-left: 2%; 
    width: 30%;
    /* border: 2px solid black;  */
}

#flip {
    padding: 5px;
    text-align: center;
    /* background-color: #c6e670; */
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }

  .accordion{
    border: 2px solid wheat;
    /* background-color: #82b450;  */
    width: 50%;
    align-self: center;
    color: white;
    
  }
  .c{
    /* background-color: aliceblue; */
    height: min-content;
  }
